.card-container {
  display: flex;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.card-pool {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 360px;
  // max-height: 350px;
  // max-width: 300px;

  #avatar-img {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 16px;
    top: -20px;
  }
}

.card-pool img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-pool h2 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-pool h3 {
  font-size: 14px;
  // text-align: right;
  margin: 2;
  right: 16px;
  position: absolute;
}

.card-pool p {
  bottom: 0%;
  position: absolute;
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-pool {
  .card-pool-infos {
    padding:  5px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    h3 {
      color: #07A0F2;
      font-size: 18px;
    }
  }
}


///// MAP /////

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}


///// MEDIA /////

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}

.fa-map-marker-alt {
  color: #07A0F2;
}
