.pool-banner {
 background-size: cover;
 background-position: center;
 padding: 200px 0;
 color: white;
 text-align: center;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.pool-banner h1 {
 margin: 0;
 color: white;
 font-size: 42px;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
 font-weight: bold;
}

.pool-banner h2 {
 font-size: 30px;
 opacity: .8;
}

.pool-banner p {
 font-size: 20px;
 color: white;
 opacity: .7;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.pool-banner button {
padding: 2px;

}
// .price-area {
//   background-color: lightgrey;
// }

.price-card {
 position: relative;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-direction: column;
 flex-direction: column;
 min-width: 0;
 word-wrap: break-word;
 background-color: #fff;
 background-clip: border-box;
 border: 1px solid rgba(0,0,0,.125);
 border-radius: .25rem;
 margin-bottom: 15px;
}

.price-card > img {
height: 300px;
width: 100%;
object-fit: cover;

}

.price-card h3 {
  padding-right: 10px;
 text-align: right;
 font-weight: bold;
 font-size: 25px;
 color: #07A0F2;
 padding-top: 15px;
}

ul {
list-style-type: none;
}

.notification {
  display: flex;
  align-items: center;
  background: white;
  // padding: 8px;
  // border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  // padding: 0 ;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.notification-content {
  h3 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.infos {
  margin-top: 25px;
  .p-description {
    margin-top: 35px;
    font-weight: 400;
  }
  .fas {
    color: #07A0F2;
  }
  p {
    font-weight: bold;
  }
  .book-btn {
    margin-top: 15px;
  }
}

.description {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  // shadow: 1px 1px 3px rgba(0,0,0,0.4);
  padding: 12.5px;
}








