<div class="container">
  <% current_user %>
  <% if current_user.bookings.nil? %>
    <h3>You didn't book any pool yet :'(</h3>

  <% else %>
    <h1>Your next ploofs</h1>
      <% if @next_ploofs.empty? %>
        <h3>No ploof to come :'(</h3>
      <% else %>
        <% @next_ploofs.each do |booking| %>
          <%= render 'shared/history_card', booking: booking %>
        <% end %>
      <% end %>

    <h1>Your past ploofs</h1>
      <% if @past_ploofs.empty? %>
        <h3>No ploof yet :'(</h3>
      <% else %>
        <% @past_ploofs.each do |booking| %>
          <%= render 'shared/history_card', booking: booking %>
        <% end %>
      <% end %>

  <% end %>
</div>

