<div class="card-product">
  <img src= <%= booking.pool.picture %> >
  <div class="card-product-infos">
    <h2><%= booking.pool.title %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
