<div class="searchbar">

  <%= form_tag pools_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search_input",
    placeholder: "What's your city?"
  %>
    <i class="search_icon fas fa-search"></i>
<% end %>

</div>
