.book-btn {
  background-color: #07a0f2;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.book-btn:hover {
  background-color: #028dd3;
  text-decoration: none;
  color: white;
}
