.history-card {
  overflow: hidden;
  height: 230px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.history-card img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.history-card h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.history-card h3 {
  font-size: 20px;
  font-weight: 400;
  opacity: .7;
  margin: 0;
}

.history-card p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.history-card-infos {
  padding: 16px;
  position:relative;
  width: 50%;
  // width: 100%;
}

.status-container {
  text-align: right;

  .status {
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
  }

  .accepted {
    background-color: #4CAF50;
  }

  .pending {
    background-color: #999999;
  }

  .declined {
    background-color: #ce3429;
  }
}
