// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/history_card";
@import "components/index";
@import "pages/index";
@import "pools/index";
@import "pools/show";

@import "components/searchbar";
@import "components/button";

body {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  background: #F4F4F4;
  color: #4A4A4A;
}
p {
  color: #4A4A4A;
}
h1, h2, h3 {
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  color: #4A4A4A;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
